.career {
  height: 100%;
  color: white;
  margin-left: 10%;
  /*background-color: white;*/
}

.careerTitle {
  font-size: 32px;
}

.litContent {
  height: 100%;
}

.litSubTitle {
  /*margin-left: 100px;*/
  font-size: 32px;
}

.litLeftContent {
  display: table-cell;
  width: 40%;
}

.litRightContent {
  position: relative;
  display: table-cell;
  padding-left: 100px;
  width: 40%;
}

.litLogo {
  width: 400px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 100px;
}
