.career {
  height: 100%;
  color: white;
  margin-left: 10%;
}

@media screen and (min-width: 961px) {
  .careerTitleTop {
    font-size: 32px;
  }

  .careerContent {
    height: 100%;
  }

  .careerSubTitle {
    margin-left: 100px;
  }

  .careerList {
    /*display: inline-block;*/
    margin-left: 100px;
    font-size: 20px;
  }

  .list {
    margin-top: 50px;
    font-size: 32px;
  }

  .more {
    padding: 10px 5px 10px 5px;
    width: 100px;
    border: 2px solid #42C5D8;
    text-align: center;
  }

  .more:hover {
    transition: background-color 0.8s;
    background-color: #42C5D8;
  }

}

@media only screen and (min-width: 641px) and (max-width: 960px) {
  .careerTitleTop {
    font-size: 32px;
  }

  .careerContent {
    height: 100%;
  }

  .careerSubTitle {
    margin-left: 20px;
  }

  .careerList {
    /*display: inline-block;*/
    margin-left: 20px;
    font-size: 20px;
  }

  .list {
    margin-top: 50px;
    font-size: 32px;
  }

  .more {
    padding: 10px 5px 10px 5px;
    width: 100px;
    border: 2px solid #42C5D8;
    text-align: center;
    transition: background-color 0.8s;
  }

  .more:hover {
    transition: background-color 0.8s;
    background-color: #42C5D8;
  }
}

@media screen and (max-width: 640px) {
  .carerrTitleTop {
    font-size: 25px;
  }

  .careerSubTitle {
    margin-left: 10px;
    font-size: 25px;
  }

  .careerList {
    margin-left: 30px;
    font-size: 20px;
    padding-left: 0px;
  }

  .list {
    margin-top: 20px;
    font-size: 25px;
    color: #CC146F;
  }

  .companyDesc {
    font-size: 12px;
    margin-left: 10px;
  }

  .more {
    padding: 8px 5px 8px 5px;
    width: 50px;
    border: 2px solid #42C5D8;
    text-align: center;
    transition: background-color 0.8s;
    font-size: 15px;
  }

  /*.more:hover {
    transition: background-color 0.8s;
    background-color: #42C5D8;
  }*/

}
