header {
  height: 20%;
  padding-top: 50px;

  /*デフォルトの高さに修正*/
  margin-top: -50px;

}

.menu {
  margin-top: 50px;
  margin-left: 10%;
}

.menuList {
  display: inline-block;
  margin-right: 100px;
  color: white;
}
