html{
  /*スクロール固定*/
  overflow: hidden;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Candal', sans-serif;
  /*スクロール固定*/
  overflow: hidden;
}

p,a {
  font-family: 'Rubik';
  color: white;
}

h1, h2, h3 {
  color: #42C5D8;
}
