.profile {
  height: 100%;
  color: white;
}

.profileTitle {
  font-size: 32px;
  margin-left: 10%;
}

.profileSubTitle {
  font-size: 32px;
  text-align: center;
}

.profileContent {
  margin-left: 10%;
  margin-top: 50px;
}

.profileText {
  font-size: 20px;
}

.contactTitle {
  /*font-size: 32px;*/
  margin-left: 10%;
}

.contactList {
  margin-left: 10%;
  margin-top: 50px;
}

.contactDetail {
  display: inline-block;
  padding-left: 30px;
}
