li {
  list-style-type: none;
}

.skill {
  height: 100%;
  color: white;
  margin-left: 10%;
}

.skillTitle {
  font-size: 32px;
}

.skillContent {

}

.skillList {
  /*マージンはなくなるので、注意！！*/
  display: table-cell;
  width: 400px;
  height: 100%;
  padding-left: 80px;
}

.subList {
  margin-top: 15px;
}

.listName {
  font-family: 'Candal', sans-serif;
  color: #CC146F;
}

.subDesignList {
  margin-top: 15px;
}

.subList::before {
  content: "--";
  color: #CC146F;
}
